<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body ng-model="app">
    <div class="modal-content"
        id="editChallengeModal">
        <div class="modal-header">
            <h3 class="modal-title"
                data-ng-bind="data.header"></h3>
        </div>

        <div class="modal-body">
            <form name="data.fields">
                <div class="form-group row">
                    <div class="form-group"
                        data-ng-class="{'form-group has-error' : data.fields.status.$invalid}">
                        <label class="col-form-label"
                            for="title-label">Status</label>
                        <input type="text"
                            class="form-control status-field"
                            name=status
                            placeholder="Status set to SEND by default"
                            data-ng-required="true" disabled>
                    </div>

                    <div class="form-group"
                        data-ng-class="{'form-group has-error' : data.fields.sender.$invalid}">
                        <label class="col-form-label"
                            for="author-label">Sender</label>
                        <input type="text"
                            class="form-control sender-field"
                            name=sender
                            data-ng-model="data.selectedChallenge.userSender.login"
                            data-ng-required="true">
                    </div>

                    <div class="form-group"
                        data-ng-class="{'form-group has-error' : data.fields.recipient.$invalid}">
                        <label class="col-form-label"
                            for="title-label">Recipient</label>
                        <input type="text"
                            class="form-control recipient-field"
                            name=recipient
                            data-ng-model="data.selectedChallenge.userRecipient.login"
                            data-ng-required="true">
                    </div>

                </div>
            </form>
        </div>

        <div>
            <h4>
            <span class="label label-danger warning-empty"
                data-ng-bind="data.alertMessage"
                data-ng-show="data.fields.status.$invalid || data.fields.sender.$invalid || data.fields.recipient.$invalid"></span>
              </h4>
        </div>
        <div>
            <button class="btn btn-primary btn-block glyphicon glyphicon-plus"
                data-ng-click="change()"
                data-ng-bind="data.buttonName"
                data-ng-disabled="data.fields.status.$invalid || data.fields.sender.$invalid || data.fields.recipient.$invalid"></button>
            <button class="btn btn-primary btn-block glyphicon glyphicon-remove"
                data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</body>

</html>
